body {
    background-color: #fbeb9d;
    /*background-color: #bbb389;*/
    /*background-color: #a8a69c;*/
}

.navbar {
    background-color: #f7db4d;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.nav-item > .active {
    font-weight: 700;
}