* {
    margin: 0;
    padding: 0;
}


html {
    width: 100%;
    min-height: 100vh;
}

body {
    /*height: 100%;*/
    width: 100%;

    min-height: 100%;
    background-color: #fbeb9d;
}

.navbar {
    background-color: #f7db4d;
    width: 100%;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.nav-link.active {
    font-weight: 700;
}


/*.wrapper {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    min-height: 100vh;*/
/*}*/

.content {
    /*flex: 1 0 auto;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}


/*.content.container {*/
/*    flex: 1 0 auto;*/
/*}*/

.footer {
    width: 100%;
    background-color: rgba(30, 33, 37, 0.085);
}

/*.footer .container {*/
/*    flex: 0 0 auto;*/


/*    !*min-height: 100vh;*!*/
/*}*/


.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #1e2125;
}

.footer a:hover {
    text-decoration: underline;
}

/*.footer-text i {*/
/*    font-size: 50px;*/
/*}*/
