{% load static %}
{% load main_tags %}

<footer class="footer container-fluid py-2">
  <div class="container px-0">
    <div class="d-flex justify-content-between align-items-center overflow-auto">
      <div class="contacts">
        <div class="footer-text text-dark">г. Ангарск, 17 мкр, д. 12а, деловой центр "Трапеза"</div>
        <div><a class="footer-text text-dark" href="tel:89025419232">8 (902) 541-92-32</a></div>
        <div><a class="footer-text text-dark" href="tel:83955646719">8 (3955) 64-67-19</a></div>
      </div>
      <div class="footer-text text-dark px-2 py-2"><a href="https://instagram.com/etalon_sport/" target="_blank" rel="noopener noreferrer">
        <i class="fa-2xl fa-brands fa-instagram text-dark align-middle"></i></a>
      </div>
    </div>
  </div>
</footer>