{% load static %}
{% load main_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Эталон{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
  <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "css/style.css" %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/da65841043.js" crossorigin="anonymous"></script>
</head>
<body>

{% block header %}
  {% include './include/_header.html' %}
{% endblock header %}

<div class="content">
  <div class="container d-flex flex-grow-1 py-5 my-5">
    {% block content %}

    {% endblock content %}
  </div>
</div>

{% block footer %}
  {% include './include/_footer.html' %}
{% endblock footer %}

<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>