{% extends 'base.html' %}
{% block title %}
  Направления - {{ block.super }}
{% endblock title %}

{% block content %}
  {% for item in direction_list %}
    <div class="py-5 {% cycle '' 'overlay' as color %}" id="scroll-target">
      <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6 d-flex align-items-center justify-content-center {% cycle '' 'order-first order-lg-last' as direction %}">
            <img class="img-fluid rounded mb-5 mb-lg-0 justify-content-center"
                 src="{{ item.photo.url }}"
                 alt="{{ item.title }}"/>
          </div>
          <div class="col-lg-6">
            <h2 class="fw-bolder">{{ item.title|upper }}</h2>
            <p class="lead fw-normal text-muted mb-0">{{ item.content }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}