{% extends 'base.html' %}
{% load static %}

{% block title %}
  Главная - {{ block.super }}
{% endblock title %}

{% block content %}
  <div class="content-container py-5">
    <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
          <div class="my-5 text-center text-xl-start">
            <h1 class="display-5 fw-bolder text-dark mb-2">Заголовок главной страницы</h1>
            <p class="lead fw-normal text-dark-50 mb-4">Также как начало повседневной работы по формированию позиции
              является качественно новой ступенью существующих финансовых и административных условий. Картельные сговоры
              не допускают ситуации, при которой явные призн</p>
          </div>
        </div>
        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                                                                           src="https://imgholder.ru/600x400/ffe289/1e2125&text=img+600х400&font=kelson"
                                                                           alt="Эталон спорт" height="400px"
                                                                           width="600px"/></div>
      </div>
    </div>
  </div>


  <div class="container-fluid py-5 overlay">
    <div class="container px-5 my-5">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Какая то красивая фраза</h2></div>
        <div class="col-lg-8">
          <div class="row gx-5 row-cols-1 row-cols-md-2">
            <div class="col mb-5 h-100">
              <h2 class="h5">Заголовок</h2>
              <p class="mb-0">Немного текста в заголовке. Чуть больше чтобы было красиво.</p>
            </div>
            <div class="col mb-5 h-100">
              <h2 class="h5">Заголовок</h2>
              <p class="mb-0">Немного текста в заголовке. Чуть больше чтобы было красиво.</p>
            </div>
            <div class="col mb-5 mb-md-0 h-100">
              <h2 class="h5">Заголовок</h2>
              <p class="mb-0">Немного текста в заголовке. Чуть больше чтобы было красиво.</p>
            </div>
            <div class="col h-100">
              <h2 class="h5">Заголовок</h2>
              <p class="mb-0">Немного текста в заголовке. Чуть больше чтобы было красиво.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-5">
    <div class="container px-1 my-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-10 col-xl-7">
          <div class="text-center">
            <div class="fs-4 mb-4 fst-italic">"Дороже всего на свете нам обходится здоровье, если мы не начнем
              заниматься физкультурой сегодня, то завтра расходы на лекарство будут намного больше, чем покупка одежды и
              абонемента в фитнес зал сейчас."
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <div class="fw-bold">
                Джейн Фонда
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}