{% extends 'base.html' %}
{% block title %}
  Отзывы - {{ block.super }}
{% endblock %}

{% block content %}
  <div class="py-5 px-auto mt-5">
    <div class="container">
      <div class="container d-flex flex-column flex-grow-1">
        <h2 class="fw-bolder m-card-title text-center">ОТЗЫВЫ НАШИХ КЛИЕНТОВ</h2>
        {% if user.is_authenticated %}
          {% block form %}
            <form method="post" action="{% url 'reviews' %}">
              {% csrf_token %}
              {% if form.non_field_errors %}
                <div class="non-field-errors">
                  {% for error in form.non_field_errors %}
                    <p class="invalid-feedback d-block">{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
              {% for field in form %}
                <div class="form-floating mb-3">
                  {{ field }}
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
                </div>
              {% endfor %}
              <div class="button-container d-flex flex-md-row-reverse">
                <button class="text-dark btn btn-primary btn-lg overlay flex-fill flex-md-grow-0" type="submit">
                  {% block button_title %}Оставить отзыв{% endblock button_title %}
                </button>
              </div>
            </form>
          {% endblock form %}
        {% else %}
          <div class="auth-container overlay d-flex flex-grow-1 my-3 rounded-3 justify-content-center text-black-50">
            <h4 class="fw-bold my-3">Авторизуйтесь, чтобы оставить отзыв</h4>
          </div>
        {% endif %}

        {% for review in review_list %}
          <div class="my-2">
            <h5 class="fw-normal my-0">{{ review }}</h5>
            <h6 class="fw-light">{{ review.date|date:"d E y H:i" }}</h6>
            <p class="fw-normal m-card-text">{{ review.content }}</p>
          </div>
          <hr>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}